
@{
    ViewBag.Title = "LoadFile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>LoadFile</h2>

<h3>Choose CSV file to load</h3>
@using (Html.BeginForm("LoadFile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <br>
    <input type="submit" value="Load" />
}